body {
    margin-top:1%;
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 15%;
    background-color: #eff9f0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    text-align: center;
}

#icon {
    max-width:6%;
    height:auto;
    border-radius: 60%;
}

.navigation {
    display: inline-block;
    padding: 20px;
}

.navigation:hover {
    background-color: gray;
}

.greetings {
    text-align: center;
    font-size: xx-large;
    color: red;
    padding: 1%;
}

#toptag {
    font-size: xx-large;
}

button {
    padding: 20px;
    border-radius: 12px;
    font-size: medium;
    background-color: #30323D;
    color: #e3b505;
}
.container {
    display:grid;
    align-items: center;
    grid-template-columns: auto auto;
    column-gap: 5px;
}

#avatar {
    max-width: 100%;
    height:auto;
    border-radius: 50%;
}

section {
    margin:5px;
}
main {
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}

footer {
    text-align: center;
}

