body {
    margin-top:1%;
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 15%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    text-align: center;
}

#icon {
    max-width:6%;
    height:auto;
    border-radius: 60%;
}

ls {
    padding-right: 30px;
    text-align: center;
}

.greetings {
    text-align: center;
    font-size: large;
    color: red;
    padding: 1%;
}

#toptag {
    font-size: xx-large;
}

.container {
    display:grid;
    align-items: center;
    grid-template-columns: auto auto;
    column-gap: 5px;
}

#avatar {
    max-width: 100%;
    height:auto;
    border-radius: 50%;
}

section {
    margin:5px;
}
main {
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}

footer {
    text-align: center;
}

